html {
  background: #1c1918;
  background-image: url(./mid_leather.png);
}

body {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  background-color: #deccae;
}

h1, h2, h3, h4 {
  color: #4b2e0c;
}

footer {
  background: #151515;
  background-image: url(./dark_leather.png);
  color: #deccae;
  margin-top: 4em;
  padding: 2em;
  border-bottom: 3px dashed rgb(48, 43, 43);
}

hr {
  height: 20px;
  background-image: url(./hr.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.homepage-main-points h2 {
  text-align: center;
}

.homepage-main-points h2::after {
  content: " ";
  height: 20px;
  background-image: url(./hr.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-top: 10px;
}

.open-source {
  background: #e8dbc5;
  margin-bottom: 1em;
}

footer .fa {
  font-size: 32px;
  margin: 0 0.3em;
}

footer .copyright {
  margin-top: 1em;
}

.homepage-jumbotron {
  background-color: rgba(66, 60, 50, 0.7);
  position: relative;
  margin-top: -20px; /* pull up to header */
  margin-bottom: 0;
  overflow: hidden;
}

.homepage-jumbotron::after {
  content: '';
  background: url(./homepage-background.jpg);
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.homepage-jumbotron > .container {
  position: relative;
  min-height: 250px;
  z-index: 2;
}

.homepage-jumbotron .logo {
  max-height: 200px;
  position: absolute;
  top: -35px;
  left: 0;
  z-index: 200;
}

.homepage-jumbotron .screenshot {
  position: absolute;
  left: 10px;
  z-index: 1;
  top: -130px;
}

.homepage-jumbotron .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #deccae;
  z-index: 2;
  width: 50%;
  background-color: rgba(66, 60, 50, 0.7);
  padding: 0.5em;
  line-height: 1.2;
  right: 0;
}

.navbar-default {
  background-color: #422d04;
  border-color: #9a7a54;
}

.navbar-default .navbar-brand {
    color: #a88248;
}

.navbar-default .navbar-nav>li>a {
    color: #e1deda;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #a88248;
}