{% extends "layout.html" %}
{% block title %}Page not found{% endblock %}
{% block body %}
  <div class="container text-center">
    <h1>Page Not Found</h1>
    <p style="max-width: 30em" class="center-block">
      The page you requested does not exist. Maybe it has been removed or deleted or you made a
      typo when copy/pasting or typing it. If you think this is a mistake you can
      <a href="https://github.com/unknown-horizons/unknown-horizons.github.io/issues/new">report it here</a>.
    </p>
  </div>
{% endblock %}
