{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="jumbotron homepage-jumbotron">
    <div class="container text-center">
      <img class="logo" src="{{ '/static/logo.svg'|url }}" />
      <img class="screenshot" src="{{ '/static/homepage-screenshot.png'|url }}" />
      <div class="text">
        <p class="lead">
          A 2D realtime strategy simulation with an emphasis on economy and city building. Expand
          your small settlement to a strong and wealthy colony, collect taxes and supply your
          inhabitants with valuable goods. Increase your power with a well balanced economy and with
          strategic trade and diplomacy.
        </p>
        <a class="btn btn-success btn-lg">Download</a>
      </div>
    </div>
  </div>

  <div class="open-source text-center">
    <div class="container">
      <h2>Open Source</h2>
      <p>
        The code is available under the <b>GPL v2</b> and content is mostly licenced as <b>CC-BY-SA</b>. Written in Python using FIFE.
      </p>
      <p>
        <iframe src="https://ghbtns.com/github-btn.html?user=unknown-horizons&repo=unknown-horizons&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row homepage-main-points">
      <div class="col-lg-4">
        <h2>Support</h2>
        <p>
          Need help running <em>Unknown Horizons</em>? Read our FAQ, the most common questions are answered there. Need further help? Join us on IRC: #unknown-horizons @ irc.freenode.net
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Get Involved</h2>
        <p>
          We are constantly searching for people that are interested in joining the <em>Unknown Horizons</em> development team. We have something for everyone: Graphics, Programming, Game Design, Community Management and much more.
        </p>
      </div>
      <div class="col-lg-4">
        {% set latest = site.query('/blog').first() %}

        <h2>News</h2>
        <p>
          {{ latest.body|striptags()|truncate(300) }}
        </p>
        <p>
          <a href="{{ latest.path }}">Read more</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
