<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Welcome{% endblock %} — UnknownHorizons</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">

<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Unknown Horizons</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% for href, title in [
            ['/about', 'About'],
            ['/blog', 'Blog'],
            ['/media', 'Media'],
            ['/downloads', 'Downloads'],
            ['/get-involved', 'Get involved'],
            ['/support/', 'Support'],


          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
          <li><a href="https://github.com/unknown-horizons/unknown-horizons/wiki/Donation-History" class="donate">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <footer>
    <div class="container text-center">
      <div class="text-center">
        <a href="http://www.facebook.com/pages/Unknown-Horizons/316760965546"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/uhorizons"><i class="fa fa-twitter"></i></a>
        <a href="http://youtube.com/unknownhorizonsgame"><i class="fa fa-youtube"></i></a>
        <a href="https://plus.google.com/105947912016808272158?prsrc=3"><i class="fa fa-google-plus"></i></a>
      </div>
      <p class="copyright">
        <small>
          &copy; Copyright 2017 by The Unknown Horizons Developers.
        </small>
      </p>
      <a href="http://hosted.weblate.org/engage/uh/?utm_source=widget">
<img src="http://hosted.weblate.org/widgets/uh-88x31-white.png" alt="Translation status">
</a>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
